@font-face {
    font-family: 'Sofia';
    src: url('../fonts/Sofia/Sofia-Regular.ttf');
}
@font-face {
    font-family: 'BerkshireSwash';
    src: url('../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

.first {
    border: 2px solid black;
    margin: 20px 0px 20px 0px;
    /* padding: 40px; */
    font-family: 'Sofia';
}

.test{
    border: 2px solid black;
    font-family: 'BerkshireSwash';
}